In [1]:
import pandas as pd

In [28]:
index=["# of Params",'# of flops (FHD)','# of layer','feature size','model size']
columes=['SRCNN','ESPCN',"VDSR","KAIST",'EDSR','MyModel']

In [29]:
df=pd.DataFrame(index=index,columns=columes)
df

                 SRCNN ESPCN VDSR KAIST EDSR MyModel
# of Params        NaN   NaN  NaN   NaN  NaN     NaN
# of flops (FHD)   NaN   NaN  NaN   NaN  NaN     NaN
# of layer         NaN   NaN  NaN   NaN  NaN     NaN
feature size       NaN   NaN  NaN   NaN  NaN     NaN
model size         NaN   NaN  NaN   NaN  NaN     NaN

In [32]:
 df.rename(columns = {'MyModel':'new_name'},inplace=True)

In [33]:
df

                 SRCNN ESPCN VDSR KAIST EDSR new_name
# of Params        NaN   NaN  NaN   NaN  NaN      NaN
# of flops (FHD)   NaN   NaN  NaN   NaN  NaN      NaN
# of layer         NaN   NaN  NaN   NaN  NaN      NaN
feature size       NaN   NaN  NaN   NaN  NaN      NaN
model size         NaN   NaN  NaN   NaN  NaN      NaN

In [43]:
df

                 SRCNN ESPCN VDSR KAIST EDSR new_name
# of Params        NaN   NaN  NaN   NaN  NaN      NaN
# of flops (FHD)   NaN   NaN  NaN   NaN  NaN      NaN
# of layer         NaN   NaN  NaN   NaN  NaN      NaN
feature size       NaN   NaN  NaN   NaN  NaN      NaN
model size         NaN   NaN  NaN   NaN  NaN      NaN

In [46]:
#df=df.reindex_axis(['SRCNN','EDSR',"VDSR","KAIST",'ESPCN','MyModel'], axis=1)
df=df.reindex(['SRCNN','EDSR',"VDSR","KAIST",'ESPCN','MyModel'])
df

        SRCNN EDSR VDSR KAIST ESPCN  MyModel
EDSR      NaN  NaN  NaN   NaN   NaN      NaN
SRCNN     NaN  NaN  NaN   NaN   NaN      NaN
VDSR      NaN  NaN  NaN   NaN   NaN      NaN
KAIST     NaN  NaN  NaN   NaN   NaN      NaN
ESPCN     NaN  NaN  NaN   NaN   NaN      NaN
MyModel   NaN  NaN  NaN   NaN   NaN      NaN

In [38]:
te='qwe3AA'

In [39]:
te.upper()

'QWE3AA'

In [40]:
index=["# of Params",'# of flops (FHD)','# of layer','feature size','model size']

'qwe3AA'

In [41]:
result={'fsrcnn': [1.9602432, 173.2608, 7, 0.013697, 0.054788], 'vdsr': [613.711872, 4486.3488, 20, 0.664704, 2.658816], 'srcnn': [51.54561024, 350.32064, 3, 0.057281, 0.229124], 'edsr': [9449.2919808, 16539.9552, 70, 40.729627, 162.918508], 'kaist': [0.6008832, 89.3952, 9, 0.002512, 0.010048]}

In [57]:
df=pd.DataFrame(result,index=['# of Gflops (FHD)','feature size','# of layer',"# of Params",'model size'])
df

,edsr,fsrcnn,kaist,srcnn,vdsr
# of Gflops (FHD),9449.291981,1.960243,0.600883,51.545610,613.711872
feature size,16539.955200,173.260800,89.395200,350.320640,4486.348800
# of layer,70.000000,7.000000,9.000000,3.000000,20.000000
# of Params,40.729627,0.013697,0.002512,0.057281,0.664704
model size,162.918508,0.054788,0.010048,0.229124,2.658816

In [58]:
df=df.reindex_axis(["srcnn","fsrcnn","vdsr","kaist","edsr"], axis=1)
df

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: FutureWarning: '.reindex_axis' is deprecated and will be removed in a future version. Use '.reindex' instead.
  """Entry point for launching an IPython kernel.

,srcnn,fsrcnn,vdsr,kaist,edsr
# of Gflops (FHD),51.545610,1.960243,613.711872,0.600883,9449.291981
feature size,350.320640,173.260800,4486.348800,89.395200,16539.955200
# of layer,3.000000,7.000000,20.000000,9.000000,70.000000
# of Params,0.057281,0.013697,0.664704,0.002512,40.729627
model size,0.229124,0.054788,2.658816,0.010048,162.918508

In [59]:
df=df.reindex(["# of Params",'# of Gflops (FHD)','# of layer','feature size','model size'])
df

,srcnn,fsrcnn,vdsr,kaist,edsr
# of Params,0.057281,0.013697,0.664704,0.002512,40.729627
# of Gflops (FHD),51.545610,1.960243,613.711872,0.600883,9449.291981
# of layer,3.000000,7.000000,20.000000,9.000000,70.000000
feature size,350.320640,173.260800,4486.348800,89.395200,16539.955200
model size,0.229124,0.054788,2.658816,0.010048,162.918508

In [62]:
df.to_html('report.html')
df.to_latex('test')
df.to_csv('report.csv')